.highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 660px;
  margin: 1em auto;
  padding-left: 2.3rem;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid black;
  background-color: rgb(52, 152, 219 , 0.9);
  color: black;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.90);
  font-weight: bold;
  text-align: center;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
  color: black;
}

.highcharts-data-table tr:hover {
  background: rgb(146, 215, 245,0.7);
}

/* own code */

.highcharts-description {
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.658);
  text-align: center;
}

#pieChartContainer,
#columnChartContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  border-width: 0.375rem;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.743), rgb(146, 215, 245)) 1;
  height: auto;
  width: auto;
  max-width: 100%;
}

.highcharts-title {
  color: white;
  font-weight: bold;
}
