
/** 
* Adaptación de la imagen de intro según el tamaño de la pantalla
*/
@media (max-width: 750px) {
  #intro {
    background-image: url(/img/SliderMenu5Mini.jpg) !important;
    height: 100vh;
    background-size: 100% 100%;
  }
}

/* @media (min-width: 601px) and (max-width: 1100px) {
  #intro {
    background-image: url(/img/SliderMenu5.jpg);
    height: 750px;
    background-size: 100% 100%;
  }
}

@media (min-width: 1101px) {
  #intro {
    background-image: url(/img/SliderMenu5.jpg);
    height: 100vh;
    background-size: 100% 100%;
  }
} */

/**
* Propiedades título página principal
*/
#title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 4.688rem;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #08b4fe 0%,
      #5ec2f8 29%,
      #b4e8f6 67%,
      #ffffff 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
}

.mask {
  background-color: rgba(0, 0, 0, 0.658);
}

.title-mask {
  background-color: rgba(0, 0, 0, 0.90);
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/*
#contenido {
  background-image: url(img/wood.jpg);
}
*/

#todo {
  overflow-x: hidden;
}

/**Contenedor principal página Monumentos*/
#todoMon {
  overflow-x: hidden;
  background-image: url(/img/Fondo2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Contenedor fluid global de la página rutas */
#todoRut {
  overflow-x: hidden;
  background-image: url(/img/Fondo3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* padding: 0;
  margin-left: 0; */
}

#contenidoExposicion {
  background-image: url(/img/Fondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


#contenedorSlider {
  border-bottom:1px solid #0e0b0b;
}


#carouselExampleCaptions {
  margin-left: none;
  margin-right: none;
}

.carousel-inner {
  margin-left: none;
  margin-right: none;
}

.carousel-item {
  margin-left: none;
  margin-right: none;
}

.carousel-indicators {
  margin-left: none;
  margin-right: none;
}

/**
* Propiedades de la barra de navegación lateral
*/
.sidenav {
  width: 10rem;
  height: fit-content;
  position: relative;
  z-index: 1;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  background: #eee;

  padding: 0rem;
  border: 2px black solid;
  align-items: flex-start;
}

.sidebar .sidenav-content {
  position: relative;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.menuPagPrincipal {
  padding-left: 2rem;
  /* margin-left: 0.5rem; */
}

.sidebar .dropdown-menu {
  position: absolute;
}

.sidebar .btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  width: 100%;
  height: fit-content;
}

#sidenavRutas {
  margin-top: 6rem;
  padding: 0%;
}


/**
* Propiedades modificadas del carrousel de la página principal
*/
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**
* Propiedades modificadas de las cartas
*/
.overflow {
  position: relative;
  overflow: hidden;
}

.zoom img {
  transition: all 0.2s linear;
}

.zoom:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hoverCard {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}

.hoverCard:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(174, 233, 255, 0.9), 0 4px 8px rgba(0, 0, 0, 0.9);
}

/* styling search bar */
.search input[type="text"] {
  width: 18.75rem;
  height: 2.313rem;
  border: #9ba6af solid 0.125rem;
}

.search {
  float: right;
  margin: 0.438rem;
}

.search button {
  background-color: #9ba6af;
  color: #f2f2f2;
  float: right;
  padding: 0.313rem 0.625rem;
  margin-right: 1rem;
  font-size: 0.75rem;
  border: none;
  cursor: pointer;
  font-size: 1.125rem;
}

#searchIcon{
  height: 1.4rem;
  width: 1.4rem;
  filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(116deg) brightness(104%) contrast(100%);
  padding-bottom: 0.2rem;
}

.search input[type="text"]:hover {
  border: #3498db solid 0.125rem;
}

.search button:hover {
  background-color: #3498db;
}

@media (max-width: 770px) {
  .search input[type="text"] {
    width: 6rem;
  }
}

/**
* Propiedades carta de texto monumento
*/

#cartaInformacion {
  height: fit-content;
  width: 50rem;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.743), rgb(146, 215, 245)) 1;
  border-right: 0.375rem solid;
  border-bottom: 0.375rem solid;
  border-left: 0.375rem solid;
  border-top: 0.1rem solid;
  max-height: 100%;
  max-width: 100%;
}

/** Propiedades texto carta*/
#monumentCardText {
  text-align: justify;
  font-weight: bold;
}

/**
  * Propiedades mapa Monumento
  */

#contMapa {
  display: flex;
  justify-content: center;
}

#map {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  height: 25rem;
  width: 50rem;
  /* border: 0.375rem black solid; */
  border-width: 0.375rem;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.743), rgb(146, 215, 245)) 1;
  z-index: 0;
}

/* Mapa de las rutas */

.rutas #map {
  margin-top: 6rem;
  height: 50.1rem;
  width: 90rem;
}

/* .leaflet-control-container .leaflet-routing-container-hide {
  display: none;
} */

 /* .leaflet-routing-container {
 

  
}  */


.leaflet-routing-collapse-btn {
  position: absolute;
  /* margin: 2rem; */
  right: 2rem;
  font-size: 2rem;
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.leaflet-routing-container-hide {
  position: absolute;
  right: 2rem;
  display: block;
  background-image: url('routing-icon.png');
}

/**
* Propiedades vídeo Monumento
*/
#contVideo {
  display: flex;
  justify-content: center;
}

#vid {
  height: 25rem;
  width: 50rem;
  object-fit: cover;
  /* border: 0.375rem black solid; */
  border-width: 0.375rem;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.743), rgb(146, 215, 245)) 1;
  margin-bottom: 1rem;
  max-width: 100%;
}

/**
* Propiedades carousel Monumento
*/
#carouselMonumento {
  display: flex;
  justify-content: center;
}

/** Tamaño del marco del carousel y borde*/
#carouselMonumento .carousel-inner {
  margin-top: 5.5rem;
  height: 30rem;
  width: 50rem;
  border-top: 0.375rem solid;
  border-right: 0.375rem solid;
  border-left: 0.375rem solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.743), rgb(146, 215, 245)) 1;
}

/* CAMBIADO -----------------------------------------------------------------------------------------*/
#carouselMonumento .carousel-item {
  width: 100%;
  height: 100%;

}

#carouselMonumento .carousel-inner #slide1 {
  /* background-image: url(/img/Comunidades/Canarias/monumento-a-los-caidos.jpg); */
  /* background-position-y: top; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: bottom;  */
}

#carouselMonumento .carousel-inner #slide2 {
  /* background-image: url(/img/Comunidades/Aragon/Torre\ Del\ Pilar.jpg); */
  /* background-position-y: center;
  background-position-x: right; */
  width: 100%;
  height: 100%; 
  object-fit: cover;
  /* object-position: right; */
}

#carouselMonumento .carousel-inner #slide3 {
  /* background-image: url(/img/Comunidades/Andalucia/catedralCadiz.jpg); */
  /* background-position-y: bottom; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: bottom; */
}

/* CAMBIADO -----------------------------------------------------------------------------------------*/

/**
* Propiedades columna izquierda
*/
#contenedorEnlaceRuta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5.5rem;
  font-size: 5rem;
  height: 20rem;
  width: 30rem;
  max-width: 100%;
  /* border: 0.375rem black solid; */
  border-width: 0.375rem;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.743), rgb(146, 215, 245)) 1;
  background-image: url(/img/FondoMenuMon.webp);
  background-size: cover;
}

#botonRutaRelacionada {
  display: flex;
  height: 5rem;
  width: 10rem;
  border: 0.1rem black solid;
  text-align: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

#contGraph {
  display: flex;
  justify-content: center;
}

#graph {
  margin: 3rem;
  height: fit-content;
  width: fit-content;
}

/**
* CSS API TIEMPO 
*/
/* *{
  font-family: Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  text-align: center;
} */

.contenedorAPITiempo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  /* border: 0.375rem black solid; */
  border-width: 0.375rem;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.743), rgb(146, 215, 245)) 1;
  height: auto;
  width: 30rem;
  max-width: 100%;
  padding: 0%;
}

.app {
  background-image: url(/img/FondoTiempowebp.webp);
  background-size: cover;
  color: #fff;
  height: 100%;
  width: 100%;
  box-shadow: 0 0.313rem 0.313rem rgba(0, 0, 0, 0.3);
  text-align: center;


}

.app h1 {
  margin-top: 1rem;
  font-size: 5em;
  font-weight: 300;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.app h2 {
  font-weight: 300;
  letter-spacing: 0.313rem;
  font-weight: bold;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.app .tituloContApi {
  font-size: 2em;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.app #iconoHumedad {
  font-size: 2rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.app #aclaracion {
  font-size: 0.75rem;
  text-align: right;
  margin: 0%;
}

/* 
* Twitter
*/
/* #contTwitter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  font-size: 5rem;
  height: 40rem;
  width: 30rem;
  max-width: 100%;
  /* border: 0.375rem black solid; *//*
  border-width: 0.375rem;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.743), rgb(146, 215, 245)) 1;
  background-image: url(/img/twitter.png);
  background-size: contain;

} */

.sidebar {
  padding: 1rem;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  width: 11rem;
  background-color: #f1f1f1;
  background-image: url(/img/marmol.jpg);
  position: sticky;
  height: fit-content;
  overflow: auto;
  border: 0.1rem black solid;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar .sidenav-content #selectComunidad:hover {
  border: #3498db solid 0.01rem;
  cursor: pointer;
}

.sidebar .sidenav-content .form-check-input:hover {
  background-color: #3498db;
  cursor: pointer;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
/* 
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
} */

#listaDropdown{
  display:none;
}

#listaBotones{
  margin-top: 0%;
}


@media screen and (max-width: 767px) {
  #listaDropdown{
    display: block;
    margin-left: 0.4rem;
  }
  #listaBotones{
    display: none;
  }

  .rutas #map {
    margin-top: 2rem;
    height: 41rem;
    width: 90rem;
  }

  .sidebar {
    display: block;
    height: auto;
    position: relative;
    width: 24.5rem;
    margin: 0;
    margin-top: 2rem;
  }

  .sidebar a {
    float: left;
  }

  .sidebar .sidenav-content {
    margin-left: 0;
  }

}

@media screen and (max-width: 400px) {
  #title {
    font-size: 3rem;
  }

  .sidebar a {
    text-align: center;
    float: none;
  }

  .search input[type="text"] {
    width: 3rem;
  }

  #cometarioPorDefecto{
    font-weight: bold;
  }
}

@media screen and (max-width: 550px) {
  #title {
    font-size: 3.2rem;
  }

  .datosCartaMon{
    font-size: small;
  }
  #header .logo img {
    max-height: 80px;
    max-width: 80px;
  }
  .legend,
  .comunidad{
    display: none;
  }
}

#filaCatalogo {
  background-color: rgba(0, 0, 0, 0.658);
}

footer {
  background-image: url(/img/marmol.jpg);
}

/* css del corazon del boton favoritos */
.favorite-btn {
  font-size: 18px;
  color: red;
}

.datosCartaMon{
  text-align: center;
  justify-content: space-between;
  height: auto;
  width: 20rem;
  font-weight: bold;
  margin: 0%;
}

.iconoPagMonum{
  height: 2rem;
  width: 2rem;
  margin-bottom: 0.5rem;
}

.card-header{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.card{
  width: fit-content;
  height:37rem;
}

.card .cardBtn{
  position:absolute;
  left: 1rem;
  bottom: 1rem;
  font-weight: bold;
  border: 0.1rem black solid;
}

.card-title{
  margin-bottom: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  text-shadow: -1.5px 1.5px 10px black,
                  1.5px 1.5px 10px black,
                 1.5px -1.5px 10px black,
                -1.5px -1.5px 10px black;
  
}


#mainCardText{
  font-weight: bold;

}

.card-body{
  /* display: flex; */
  border-top: 0.1rem solid black;
  background-image: url(/img/marmol2.jpg);
}

#monumentCard{
  background-image: url(/img/marmol3.jpg);
}
/* #monumentProperties{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

} */

.card-body #direccion{
  background-image: linear-gradient(to right, white,#3498db);
  padding: 0.7rem;
  margin-bottom: 0.7rem;
  margin-top: 1rem;
  border: 0.1rem solid black;
}

.card-body #año{
  background-image: linear-gradient(to right, white,#3498db);
  padding: 0.7rem;
  border: 0.1rem solid black;

}

.favorite-btn-main{
  position:absolute;
  left: 10.5rem;
  bottom: 1rem;
  height: 2.45rem;
  border: 0.1rem black solid;
  background-color: white;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  width: 18.75rem;
  max-height: 31rem;
  overflow-y: auto;
  /*position the autocomplete items to be the same width as the container:*/
  /* top: 100%;
  left: 0;
  right: 0; */
  
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #3498db;
  color: white;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #3498db !important;
  color: #ffffff;
}

/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color:black;
  cursor:pointer;
  width: fit-content;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
}

#contComentarios{
  display: flex;
  justify-content: center;
  
}

.twitter,
.facebook,
.instagram,
.linkedin{
	filter: invert(74%) sepia(11%) saturate(296%) hue-rotate(165deg) brightness(88%) contrast(87%);
  height: 1rem;
  width: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.twitter:hover, 
.facebook:hover, 
.instagram:hover,
.linkedin:hover{
	filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

#up-arrow{
  height: 2.7rem;
  width: 3.7rem;
}

#up-arrow:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* CSS Comentarios Rutas */

#commentsDiv{
  overflow-y: auto;
  border-bottom: 0.1rem solid black;
}

#commentSection{
  border-width: 0.375rem;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.743), rgb(146, 215, 245)) 1;
  width: 90rem;
  height: auto;
  max-height: 45rem;
  padding: 0;
}

#commentForm{
  background-color: #f8f9fa;

}

#heart:hover{
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.formatoBoton{
  font-weight: bold;
  border: #000 solid 0.1rem;
}

.sidenav-content .formatoBoton{
  font-size: 0.91rem;
}

/* #botonPublicarComentario{
  font-weight: bold;
  border: #000 solid 0.1rem;
} */

#fondoCajaComentariosVacia{
  margin-left: 5rem;
  height: 5rem;
  width: 5rem;
}

#cometarioPorDefecto{
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 5rem;
  font-weight: bold;
}

#svgComentarios{
  height: 15rem;
  background-image: url(/img/iconos/custom-scenery.svg);
  background-repeat: no-repeat;
  background-position: right;
}

/*
/ Leyenda Mapa Rutas
*/
.legend,
.comunidad {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.comunidad h4 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 2px 12px 2px;

}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend img{
  width: 1.2rem;
  height: 2rem;
  margin: 0 8px 3px 0;
  opacity: 0.7;
}

footer h1 {
  font-size: medium;
}

.carousel-item img{
  max-width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}


